#container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* coisas no centro */
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    transition: transform 1s ease-out;
}

/* Estilos para as seções */

/*A primeira seção*/
.section:nth-child(odd) {
    background-color: #ffcccc;
    color: rgb(255, 255, 255);
}

/*A segunda seção*/
.section:nth-child(even) {
    background-color: #ccffcc;
    color: rgb(255, 255, 255);
}

/*A terceira seção*/
#section3 {
    background-color: #ccccff;
    color: rgb(255, 255, 255);
}